<h1>All Tags</h1>

<div id="content">
    <ul id="all-tags" class="actions">
        {{#each tags}}
        <li><a role="button" href="{{link}}" class="button">{{title}}</a>, </li>
        {{/each}}
    </ul>
</div>