<div id="content">
    <div class="row">
        <div class="8u 12u$(medium)">
            {{#each posts}}
            <div>
                <a href="{{link}}">
                    <h2>{{title}}</h2>
                </a>
                <p><em>Posted on {{date}}</em></p>
            </div>
            {{/each}}
        </div>
    </div>
</div>