<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>UnexpectedEOF</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../assets/css/main.css" />
    <link rel="shortcut icon" href="../assets/images/ico/favicon.ico">
    
    <meta property="og:title" content="Alexander{{#if title}} - {{title}}{{/if}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://unexpectedeof.xyz{{link}}" />
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Header -->
            <header id="header">
                <a href="../index.html" class="logo">notes from making things...</a>
                <ul class="icons">
                    <li><a href="https://blog.unexpectedeof.xyz/feed.rss" class="icon fa-rss"><span class="label">RSS</span></a></li>
                    <li><a href="https://hackaday.io/n0mn0m" class="icon fa-wrench"><span class="label">Hackaday</span></a></li>
                    <li><a href="https://git.unexpectedeof.xyz/n0mn0m" class="icon brands fa-git"><span class="label">Gitea</span></a></li>
                    <li><a href="https://keybase.io/alexanderh" class="icon brands fa-keybase"><span class="label">Keybase</span></a></li>
                    <li><a href="https://stackoverflow.com/users/story/1480185" class="icon brands fa-stack-overflow"><span class="label">StackOverflow</span></a></li>
                </ul>
            </header>

            <!-- Content -->
            <section>
                {{{ body }}}
            </section>

        </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar">
        <div class="inner">

            <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <h2>UnexpectedEOF</h2>
                </header>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li>
                        <span class="opener">Blog</span>
                        <ul>
                            <li><a href="/posts/index.html">Archive</a></li>
                            <li><a href="/tags/index.html">Tags</a></li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Projects</span>
                        <ul>
                            <li><a href="https://git.unexpectedeof.xyz">Repos</a></li>
                            <li><a href="https://teamcity.unexpectedeof.xyz/overview">Builds</a></li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">About</span>
                        <ul>
                            <li><a href="../about.html">Me</a></li>
                            <li><a href="../resume.html">Resume</a></li>
                            <li><a href="../certs.html">Certifications</a></li>
                            <li><a href="../shelf.html">Book Shelf</a></li>
                            <li><a href="../podcast.html">Podcast</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <!-- Section -->
            <section>
                <header class="major">
                    <h2>Get in touch</h2>
                </header>
                <ul class="contact">
                    <li class="icon solid fa-envelope"><a href="mailto:alexander@unexpectedeof.net">alexander@unexpectedeof.net</a></li>
                    <li class="icon solid fa-fingerprint">B1083930718E18786F0E8<br />7BC40D6536489E184AB</li>
                </ul>
            </section>

            <!-- Footer -->
            <footer id="footer">
               <p class="copyright">&copy; Alexander "n0mn0m" Hagerman<br />Writing Creative Commons CC0 1.0. Code LGPL.</p>
            </footer>

        </div>
    </div>

</div>

<!-- Scripts -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/browser.min.js"></script>
<script src="../assets/js/breakpoints.min.js"></script>
<script src="../assets/js/util.js"></script>
<script src="../assets/js/main.js"></script>

</body>
</html>
