<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>Burning Daylight</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../assets/css/main.css" />
    <link rel="shortcut icon" href="../assets/images/ico/favicon.ico">

    <meta property="og:title" content="Alexander{{#if title}} - {{title}}{{/if}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://burningdaylight.io{{link}}" />
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Header -->
            <header id="header">
                <a href="../index.html" class="logo">notes from building</a>
                <ul class="icons">
                    <li><a href="https://blog.burningdaylight.io/feed.rss" class="icon fa-rss"><span class="label">RSS</span></a></li>
                    <li><a href="https://h3lou.org" class="icon fa-cog"><span class="label">H3Lou</span></a></li>
                    <li><a href="https://hackaday.io/n0mn0m" class="icon fa-wrench"><span class="label">Hackaday</span></a></li>
                    <li><a href="https://git.burningdaylight.io/" class="icon brands fa-git"><span class="label">cgit</span></a></li>
                    <li><a href="https://exercism.io/profiles/n0mn0m" class="icon fa-code"><span class="label">exercism.io</span></a></li>
                    <li><a href="https://keys.openpgp.org/search?q=56B9DC29C24B785FBA66C99EEB589747BCEE2FD1" class="icon fa-key"><span class="label">GPG</span></a></li>
                    <li><a href="https://stackoverflow.com/users/story/1480185" class="icon brands fa-stack-overflow"><span class="label">StackOverflow</span></a></li>
                    
                </ul>
            </header>

            <!-- Content -->
            <section>
                {{{ body }}}
            </section>

        </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar">
        <div class="inner">

            <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <h2>burning daylight</h2>
                </header>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li>
                        <span class="opener">Blog</span>
                        <ul>
                            <li><a href="/posts/index.html">Archive</a></li>
                            <li><a href="/tags/index.html">Tags</a></li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Projects</span>
                        <ul>
                            <li><a href="https://git.burningdaylight.io">Repos</a></li>
                            <li><a href="https://teamcity.burningdaylight.io/overview.html?guest=1">Builds</a></li>
                            <li><a href="https://youtrack.burningdaylight.io/projects">Projects</a></li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">About</span>
                        <ul>
                            <li><a href="../about.html">Me</a></li>
                            <li><a href="../resume.html">Resume</a></li>
                            <li><a href="../certs.html">Certifications</a></li>
                            <li><a href="../shelf.html">Book Shelf</a></li>
                            <li><a href="../podcast.html">Podcast</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <!-- Section -->
            <section>
                <header class="major">
                    <h2>Get in touch</h2>
                </header>
                <ul class="contact">
                    <li class="icon solid fa-envelope"><a href="mailto:n0mn0m@burningdaylight.io">n0mn0m@burningdaylight.io</a></li>
                    <li class="icon solid fa-fingerprint">56B9DC29C24B785FBA66<br />C99EEB589747BCEE2FD1</li>
                </ul>
            </section>

            <!-- Footer -->
            <footer id="footer">
               <p class="copyright">&copy; Alexander "n0mn0m" Hagerman<br />Writing Creative Commons CC0 1.0. Code LGPL.</p>
            </footer>

        </div>
    </div>

</div>

<!-- Scripts -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/browser.min.js"></script>
<script src="../assets/js/breakpoints.min.js"></script>
<script src="../assets/js/util.js"></script>
<script src="../assets/js/main.js"></script>

</body>
</html>
